.Layout {
  > nav {
    .Me {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.Page {
  margin-top: 64px;

  > header {
    padding: 10px;
    text-align: left;
  }

  > main {
    padding: 10px;
    text-align: left;
  }

  > footer {
    padding: 10px;
    border-top: solid 1px $colorBorder;

    .copy-right {
      color: $colorGray;
    }
  }
}
